<div class="row m-4">
    <div class="col-10">
        <div class="card border-3 border-dark">
            <div class="card-header bg-dark">
                <h5>Login</h5>
            </div>
            <div class="card-body bg-secondary">
                <form id="login-form">
                    <div class="form-group my-1">
                        <label for="username-login">Username:</label>
                        <input type="text" id="username-login" class="form-control" />
                    </div>
                    <div class="form-group my-1">
                        <label for="password-login">Password:</label>
                        <input type="password" id="password-login" class="form-control" />
                    </div>
                    <button type="submit" class="btn btn-info my-1 w-100">Login</button>
                </form>
                <a href="/sign-up">Don't have an account? Sign up here</a>
            </div>
        </div>
    </div>
</div>

<script src="/javascript/login.js"></script>